= semantic_form_for [:admin, @banner] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :target_type, as: :select, collection: AdminTrans::BANNER_TARGET_TYPE,
              input_html: { class: 'banner_search_form' }
    = f.input :target_id, as: :hidden, input_html: { class: 'target_id' }
    = f.input :target_name, input_html: { readonly: true, class: 'target_name' }
  = f.actions

= render 'admin/common/target'
:javascript
  $(function() {
    BannerEvent.bindFormEvents();
  });